/* variable */
:root {
  --height-banner: 304px;
  --height-left-item: 70px;
  --height-right-bar: calc(100vh - var(--height-banner) - 100px);
  --border-radius: 22px;

  /* color */
  --pj-primary: #bce822;
  --pj-text-primary: #000000;
  --gray: #e4e4e678;
}
@font-face {
  font-family: "myFont";
  src: url("./font/DejaVuSans.ttf") format("truetype"),
    url("./font/DejaVuSans-Bold.ttf") format("truetype"),
    url("./font/DejaVuSans-BoldOblique.ttf") format("truetype"),
    url("./font/DejaVuSansCondensed.ttf") format("truetype");
}

html {
  font-family: "myFont";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.banner-wrapper {
  width: 100%;
}
.background-pj {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("./background.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.left-bar > .left-item,
.left-bar > .accordion > .accordion-item > .accordion-header > button.left-item,
.right-item {
  width: 100%;
  height: var(--height-left-item);
  border-radius: var(--border-radius);
  background-color: var(--pj-primary);
  color: var(--pj-text-primary);
  cursor: pointer;
  font-size: 20px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
}
button.left-item-child {
  width: 100%;
  height: var(--height-left-item);
  border-radius: var(--border-radius);
  color: var(--pj-text-primary);
  cursor: pointer;
  font-size: 20px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  font-weight: 500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 0px;
  background-color: transparent;
}
.accordion-item,
#collapseOne-child,
#collapsetwo-child,
.list-group-item {
  background-color: rgba(237, 249, 201, 0.4);
  overflow: hidden;
}

#leftButtonChild {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-left: none;
  border-right: none;
}
.left-bar > .accordion > .accordion-item {
  border-radius: var(--border-radius);
  border-top: none;
}
html .accordion-parent {
  background-color: #ceeb63;
}
.list-group-item.option {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 22px;
  font-weight: 600;
}
.list-group-item.option:hover,
.list-group-item.option.option-prize-active {
  color: var(--pj-primary);
  background: #000;
}
.pendding {
  animation-name: penddingAnimation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transform-origin: center center;
  cursor: pointer;
}

.spin {
  animation-name: spinAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  transform-origin: center center;
}
.rightBar-wrapper {
  background-color: var(--gray);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  height: var(--height-right-bar);
}
.rightBar-wrapper > .right-item {
  border-radius: var(--border-radius);
  border: none;
}
/* modal */
.customModalContent {
  background-color: var(--pj-primary);
}
.icon {
  color: var(--pj-primary);
}
.btn-pj {
  color: var(--pj-primary);
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #000000;
}
.text-info-pj {
  margin-top: 15px;
  margin-bottom: 32px;
}
.right-item,
.left-item {
  border-bottom: 2px solid white !important;
}
/* animation */

@keyframes penddingAnimation {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .list-group-item.option {
    font-size: 17px;
  }
  .left-bar > .left-item,
  .left-bar
    > .accordion
    > .accordion-item
    > .accordion-header
    > button.left-item,
  button.left-item-child,
  .right-item {
    font-size: 17px;
  }
  button.left-item-child {
    font-size: 16px;
  }
  .right-item-pj > * {
    font-size: 12px !important;
  }

  .text-info-pj {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .list-group-item.option {
    font-size: 15px;
  }
  .left-bar > .left-item,
  .left-bar
    > .accordion
    > .accordion-item
    > .accordion-header
    > button.left-item,
  button.left-item-child,
  .right-item {
    font-size: 15px;
  }
  button.left-item-child {
    font-size: 15px;
  }
  .right-item-pj > * {
    font-size: 12px !important;
  }

  .text-info-pj {
    font-size: 15px;
  }
}
